<div class="grid grid-flow-row grid-cols-3 gap-4 mb-2 items-start">
    <a class="tag semester_reviews mx-auto" href="{{ site.baseUrl }}tag/semester_reviews">semester reviews</a>
    <a class="tag diary mx-auto" href="{{ site.baseUrl }}tag/diary">diary</a>
    <a class="tag tech mx-auto" href="{{ site.baseUrl }}tag/tech">tech</a>
</div>
